.history-viewer {
  > .panel--padded {
    padding-top: 0;
  }

  &.history-viewer__compare-mode .panel--padded {
    padding-top: 30px;
  }

  // Used to negate margins added by .panel--padded in some contexts
  &--no-margins {
    margin-left: -$panel-padding-x;
    margin-right: -$panel-padding-x;
  }
}

// Used in conjunction with .panel--padded, removes top and bottom padding
.panel--padded-side {
  padding-bottom: 0;
  padding-top: 0;
}

.history-viewer__form {
  position: relative;
}

.history-viewer__version-state .text-muted {
  margin-right: 10px;
}

.history-viewer__compare-button {
  border: 1px solid $white;
  color: $white;
  margin-right: 1rem;
}

.history-viewer__close-button {
  background: transparent;
  border: 1px solid $white;
  border-radius: 50%; // circular
  color: $white;
  padding: .4rem .55rem;

  &::before {
    font-size: 1.4rem;
  }
}

.history-viewer__messages .message-box {
  &:first-child {
    margin-top: $panel-padding-y;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Todo: remove this when the CMS is React driven and we don't need this hack
.history-viewer-preview {
  position: relative;
  display: flex;

  &__underlay {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__frame {
    background-color: rgba(0,0,0,0);

    .preview__iframe {
      background-color: white;
    }
  }

  &__spinner {
    $loading-indicator-size: 3em;
    $loading-indicator-border-size: .26em;
    $loading-indicator-border: $loading-indicator-border-size solid transparent;
    $loading-indicator-speed: 0.9s;
    $loading-indicator-animation: spinner-loader $loading-indicator-speed infinite linear;

    &, &:after {
      border-radius: 50%;
      width: $loading-indicator-size;
      height: $loading-indicator-size;
    }

    margin-bottom: 1em;
    font-size: $font-size-sm;
    position: relative;
    text-indent: -9999em;
    border: $loading-indicator-border;
    border-left: $loading-indicator-border-size solid $blue;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: $loading-indicator-animation;
    animation: $loading-indicator-animation;
  }
}

.history-viewer__toolbar--condensed {
  min-width: 50%;
  width: 50%;
}

.history-viewer__version-detail-diff {
  del {
    color: $red;
  }

  ins {
    background-color: lighten($green, 70%);
    text-decoration: none;
  }
}

// Hide preview on small devices. @todo replace this with a view toggle component
@include media-breakpoint-down(md) {
  .history-viewer-preview {
    display: none;
  }
}

@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

